*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

:root{
    --titulorodapeFormGrid: #005288;
    --cinzamedio: #ccc;
    --corfundo:  #ffffcc;

}

header{
    background-color: var(--corfundo);
	padding:  0px 5px;
	width: 100%;
	color: #ffffcc;
	/* background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; */
    position: sticky;
    top: 0;

}
body{
    background-color: #ffffcc;
}

.div_menu1{
    background-color: var(--corfundo);
}
.div_menu1 nav ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    list-style: none;
}
.div_menu1 nav ul li a{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}
.div_menu1 nav ul li a:hover{
    color: #800;
}

.div_logo{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.div_menu2{
    background-color: var(--corfundo);
}

.div_menu2 nav ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    list-style: none;
}
.div_menu2 nav ul a{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}
.div_menu2 nav ul a:hover{
    color: #800;
    background-color: #bbb;
    padding: 5px;
    border-radius: 5px;
}

.sessao_ImagemFundo{
    display: flex;
    justify-content: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;	
    background-image: url('/imagens/igrejamatriz.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    /* margin-top: -200px ; */

}
.sessao_ImagemFundo img{
    /* width: 100%; */

}

.sessao_noticias{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.div_tituloNoticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.article_noticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.div_noticia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
.div_fotonoticia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.div_fotonoticia img{
    border-radius: 50%;
    margin: 5px;
}
.div_noticia p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.div_rodapeNoticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
}
.div_rodapeNoticias img{
    width: 30px;
}

.article_oracoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

}
.div_tituloPedidosOracoes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #ccc;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.div_contatoOracoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 20%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.div_contatoOracoes input{
    font-size: 20px;
    border-radius: 10px;
    margin-top: 5px;
    border: #ddd;
    padding: 5px;
    width: 100%;
}

.div_intencoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 25px;
}
.div_intencoes textarea{
    width: 98%;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;

}

.div_rodapeOracoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #ccc;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 0px 0px 15px 15px;
    
}
.botao_padrao{
	text-decoration:none;
	display:flex;
	width:120px;
	height:30px;
	margin: 5px;
	padding: 5px;
	background-color:#248;
	border-radius:10px;
	color:#000;
	font-family:Arial bold;
	font-size:20px;
	cursor:pointer;
	border:0px;
	text-transform: uppercase;
	outline:none;
	justify-content:center;
	align-items:center;
}
.botao_padrao:hover{
	background-color:#c22;
	color:#fff;
}

.div_Publicacoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.div_tituloDemaisPublicacoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.div_demaisPublicacoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.article_doacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
}
.article_doacoes img{
    margin: 50px;
}

.article_acoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
}
.article_acoes img{
    margin: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 0px;
	background:#222;
	padding:10px 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 0px 0px 10px 0px;
}


/* INICIO PAGINA DE LOGIN */
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_tituloFormularioLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--titulorodapeFormGrid);
    margin-top: 80px;
}
.div_tituloFormularioLogin h1,h2{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
}

.div_formularioLogin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid var(--titulorodapeFormGrid);
}
.div_formularioLogin form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_campoForm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 25px;
    padding: 5px;
}
.div_campoForm label,input,select{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
}

.div_rodapeFormularioLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--titulorodapeFormGrid);
    width: 400px;
    padding: 10px;
    margin-bottom: 80px;
}
.div_rodapeFormularioLogin button a{
    text-decoration: none;
    color: #000;
}
.div_rodapeFormularioLogin button a:hover{
	background-color:#c22;
	color:#fff;
}
/* FIM PAGINA DE LOGIN */


/* INICIO PAGINA DE ADMINISTRAÇÃO */
.div_tituloAdministracao{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #eee;
    padding: 5px;
}
.div_tituloAdministracao img{
    width: 30px;
    margin-left: 10px;
    margin-right: 5px;
}
.div_menuCadastroAdministracao{
    margin-left: 5px;
    margin-top: 5px;
}
.div_menuCadastroAdministracao button{
    cursor: pointer;
}

.div_framePrincipal{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #ddd;
    width: 100%;
}

.div_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_menuLateral{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 200px;
    height: 65vh;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    background-color: #ccc;
    font-size: 20px;
    color: #000;
}
.div_menuLateral a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #000;
}
.div_menuLateral a:hover{
    color: #008;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
}

.div_menuLateral h3{
    margin-bottom: 10px;
}
/* FIM PAGINA DE ADMINISTRAÇÃO */

/* INICIO PAGINA DE CADASTRO DE USUÁRIOS */
.div_frameCadastroUsuarios{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 65vh;
}

.sessao_cadastroUsuarios{
    width: 27;
    height: 65vh;
}

.div_tituloFormularioUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--titulorodapeFormGrid);
}
.div_tituloFormularioUsuarios h1,h2{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
}

.div_formularioUsuarios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 429px;
    border: 1px solid var(--titulorodapeFormGrid);

}
.div_formularioUsuarios form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_campoForm2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.div_campoForm2 input{
    cursor: pointer;
}

.div_foto{
    width: 130px;
    height: 120px;
    border: 1px solid #000;
    margin-left: 5px;
    margin-top: 5px;
}
.div_campoFormInput{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div_rodapeFormularioUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--titulorodapeFormGrid);
    width: 400px;
    padding: 10px;
}
.div_rodapeFormularioUsuarios button a{
    text-decoration: none;
    color: #000;
}
.div_rodapeFormularioUsuarios button a:hover{
	background-color:#c22;
	color:#fff;
}

.sessao_grid{
    width: 100%;
    height: 65vh;
    /* border: 1px solid #000;     */
}

.div_tituloGrid{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--titulorodapeFormGrid);
    border-radius: 25px 25px 0px 0px;
}

.div_cabecalhoGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: var(--titulorodapeFormGrid);
    color: #fff;    
    font-size: 20px;
}
.div_Cabecalhocoluna1{
    width: 25%;
}
.div_Cabecalhocoluna2{
    width: 30%;
}
.div_Cabecalhocoluna3{
    width: 20%;
}
.div_Cabecalhocoluna4{
    width: 15%;
}
.div_Cabecalhocoluna5{
    width: 10%;
}

.div_corpoGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--titulorodapeFormGrid);
    width: 100%;
    height: 47.5vh;
}
.div_dadosGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    font-size: 25px;
}
.linhaGrid:nth-child(odd){
    background-color: #eee;

}
.linhaGrid:nth-child(even){
    background-color: #ccc;
}
.linhaGrid:hover{
    background-color: #088 !important;
    color: #fff !important;
}

.div_dadocoluna1{
    width: 25%;
}
.div_dadocoluna2{
    width: 30%;
}
.div_dadocoluna3{
    width: 20%;
}
.div_dadocoluna4{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 15%;
    padding-left: 10px;
}
.div_dadocoluna4 img{
    padding-left: 20px;
    cursor: pointer;
}

.div_dadocoluna5{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}
.div_dadocoluna5 img{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.div_rodapeGrid{
    background-color: var(--titulorodapeFormGrid);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--titulorodapeFormGrid);
    border-radius:0px 0px 25px 25px;
    padding: 21px;
}



/* FIM  PAGINA DE CADASTRO DE USUÁRIOS */


/* INICIO PAGINA DE CADASTRO DE PUBLICAÇÕES */

/* FIM  PAGINA DE CADASTRO DE PUBLICAÇÕES */


