/* INICIO PAGINA DE CADASTRO DE PUBLICAÇÕES */
.div_frameCadastroPublicacoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 65vh; */
}

.sessao_cadastroPublicacoes{
    width: 100%;
    /* height: 65vh; */
}

.div_tituloFormularioPublicacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--titulorodapeFormGrid);
}
.div_tituloFormularioPublicacoes h1,h2{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.div_formularioPublicacoes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 429px;
    border: 1px solid var(--titulorodapeFormGrid);

}
.div_formularioPublicacoes form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_banner, .div_imagem{
    width: 130px;
    height: 120px;
    border: 1px solid #000;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
}
.div_campoFormInput{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div_rodapeFormularioPublicacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--titulorodapeFormGrid);
    width: 100%;
    padding: 12px;
}
.div_rodapeFormularioPublicacoes button a{
    text-decoration: none;
    color: #000;
}
.div_rodapeFormularioPublicacoes button a:hover{
	background-color:#c22;
	color:#fff;
}

.sessao_grid{
    width: 100%;
    height: 65vh;
}

.div_tituloGrid{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--titulorodapeFormGrid);
    border-radius: 25px 25px 0px 0px;
}

.div_cabecalhoGridPublicacoes{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    background-color: var(--titulorodapeFormGrid);
    color: #fff;    
    font-size: 20px;
    border-radius: 25px 25px 0px 0px;
}
.div_Cabecalhocoluna1{
    width: 25%;
}
.div_Cabecalhocoluna2{
    width: 30%;
}
.div_Cabecalhocoluna3{
    width: 20%;
}
.div_Cabecalhocoluna4{
    width: 15%;
}
.div_Cabecalhocoluna5{
    width: 10%;
}

.div_corpoGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--titulorodapeFormGrid);
    width: 100%;
    height: 47.5vh;
}
.div_dadosGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    font-size: 25px;
}
.linhaGrid:nth-child(odd){
    background-color: #eee;

}
.linhaGrid:nth-child(even){
    background-color: #ccc;
}
.linhaGrid:hover{
    background-color: #088 !important;
    color: #fff !important;
}

.div_dadocoluna1{
    width: 25%;
}
.div_dadocoluna2{
    width: 30%;
}
.div_dadocoluna3{
    width: 20%;
}
.div_dadocoluna4{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 15%;
    padding-left: 10px;
}
.div_dadocoluna4 img{
    padding-left: 20px;
    cursor: pointer;
}

.div_dadocoluna5{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}
.div_dadocoluna5 img{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.div_rodapeGrid{
    background-color: var(--titulorodapeFormGrid);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--titulorodapeFormGrid);
    border-radius:0px 0px 25px 25px;
    padding: 21px;
}

.sessao_gridPublicacoes{
    width: 100%;

    /* border: 1px solid #000; */
}

.div_Cabecalhocoluna1Publicacoes{
    width: 60%;
}
.div_Cabecalhocoluna2Publicacoes{
    width: 15%;
}
.div_Cabecalhocoluna3Publicacoes{
    width: 15%;
}
.div_Cabecalhocoluna4Publicacoes{
    width: 15%;
}
.div_Cabecalhocoluna5Publicacoes{
    width: 10%;
}

.div_dadocoluna1Publicacoes{
    width: 60%;
}
.div_dadocoluna2Publicacoes{
    width: 15%;
}
.div_dadocoluna3Publicacoes{
    width: 15%;
}
.div_dadocoluna4Publicacoes{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 15%;
    padding-left: 10px;
}
.div_dadocoluna4Publicacoes img{
    padding-left: 20px;
    cursor: pointer;
}

.div_dadocoluna5Publicacoes{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 10%;
}
.div_dadocoluna5Publicacoes img{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* FIM  PAGINA DE CADASTRO DE PUBLICAÇÕES */
