/* INICIO PAGINA DE CADASTRO DE USUÁRIOS */
.div_frameCadastroUsuarios{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 65vh;
}

.sessao_cadastroUsuarios{
    width: 27;
    height: 65vh;
}

.div_tituloFormularioUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--titulorodapeFormGrid);
}
.div_tituloFormularioUsuarios h1,h2{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
}

.div_formularioUsuarios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 429px;
    border: 1px solid var(--titulorodapeFormGrid);
}
.div_formularioUsuarios form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_foto{
    width: 130px;
    height: 120px;
    border: 1px solid #000;
    margin-left: 5px;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}
.div_campoFormInput{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div_rodapeFormularioUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--titulorodapeFormGrid);
    width: 400px;
    padding: 12px;
}
.div_rodapeFormularioUsuarios button a{
    text-decoration: none;
    color: #000;
}
.div_rodapeFormularioUsuarios button a:hover{
	background-color:#c22;
	color:#fff;
}

.sessao_grid{
    width: 100%;
    height: 65vh;
}

.div_tituloGrid{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--titulorodapeFormGrid);
    border-radius: 25px 25px 0px 0px;
}

.div_cabecalhoGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: var(--titulorodapeFormGrid);
    color: #fff;    
    font-size: 20px;
}
.div_Cabecalhocoluna1{
    width: 25%;
}
.div_Cabecalhocoluna2{
    width: 30%;
}
.div_Cabecalhocoluna3{
    width: 20%;
}
.div_Cabecalhocoluna4{
    width: 15%;
}
.div_Cabecalhocoluna5{
    width: 10%;
}

.div_corpoGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--titulorodapeFormGrid);
    width: 100%;
    height: 47.5vh;
}
.div_dadosGrid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    font-size: 25px;
}
.linhaGrid:nth-child(odd){
    background-color: #eee;

}
.linhaGrid:nth-child(even){
    background-color: #ccc;
}
.linhaGrid:hover{
    background-color: #088 !important;
    color: #fff !important;
}

.div_dadocoluna1{
    width: 25%;
}
.div_dadocoluna2{
    width: 30%;
}
.div_dadocoluna3{
    width: 20%;
}
.div_dadocoluna4{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 15%;
    padding-left: 10px;
}
.div_dadocoluna4 img{
    padding-left: 20px;
    cursor: pointer;
}

.div_dadocoluna5{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}
.div_dadocoluna5 img{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.div_rodapeGrid{
    background-color: var(--titulorodapeFormGrid);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--titulorodapeFormGrid);
    border-radius:0px 0px 25px 25px;
    padding: 21px;
}
/* FIM  PAGINA DE CADASTRO DE USUÁRIOS */
