*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

:root{
    --corheader: #ffffcc;
    --titulorodapeFormGrid: #005288;
    --cinzamedio: #ccc;
    --corfundo:  #ffffcc;
    --corfontemenuheader: #248;
    --cortexto: #000000;
    --cormenuhover: #800;
}

header{
    background-color: var(--corfundo);
	padding:  0px 5px;
	width: 100%;
	color:  var(--corheader);
    position: sticky;
    top: 0;
}
body{
    background-color: var(--corfundo);
}

.displyFlexStarColumn{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.displyFlexStarRow{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.displyFlexSpaceBetweenRow{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.displyFlexSpaceBetweenRow{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.div_menu1{
    background-color: var(--corfundo);
}
.div_menu1 nav ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    list-style: none;
}
.div_menu1 nav ul li a{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color: var(--corfontemenuheader);
    text-shadow: var(--cortexto);
}
.div_menu1 nav ul li a:hover{
    color: var(--cortexto);
}

.div_cabecalho{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.div_logo{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    width: 210px;
    padding: 5px;
}
.div_titulo{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    width: 85%;
    padding: 5px;
    font-size: 3em;
    color: #000;
}

.div_menu2{
    background-color: var(--corfundo);
}

.div_menu2 nav ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    list-style: none;
}
.div_menu2 nav ul a{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color: var(--corfontemenuheader);
    text-shadow: var(--cortexto);
}
.div_menu2 nav ul a:hover{
    color: var(--cortexto);
    background-color: #bbb;
    padding: 5px;
    border-radius: 5px;
}

.menuPrincipalLateral{
    display: none;
    float: left;
    background-color:rgba(0, 0, 0, 0.02);

    img{
        width: 40px;
        cursor: pointer;
    }
    #rd_menu{
        visibility: hidden;
    }
}
.menuPrincipalLateral nav ul a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #005288;
}
.menuPrincipalLateral nav ul a:hover{
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
} 

@media screen and (max-width: 800px ){
    .div_menu1, .div_menu2{
        display: none;
    }

    .menuPrincipalLateral{
        display: block;
    }    
}

.sessao_ImagemFundo{
    display: flex;
    justify-content: space-between;
	width: 100%;
	height: 100vh;
	overflow: hidden;	
    background-image: url('/imagens/igrejamatriz.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.sessao_noticias{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.div_tituloNoticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.article_noticias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.div_noticia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    width: 25%;
}
.div_fotonoticia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.div_fotonoticia img{
    border-radius: 50%;
    margin: 5px;
}
.div_noticia p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.div_rodapeNoticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
}
.div_rodapeNoticias img{
    width: 30px;
}

.div_tituloPedidosOracoes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #ccc;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

.article_oracoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
.div_contatoOracoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 20%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 300px;
}
.div_contatoOracoes input{
    font-size: 20px;
    border-radius: 10px;
    margin-top: 5px;
    border: #ddd;
    padding: 5px;
    width: 100%;
    min-width: 300px;
}

.div_intencoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 25px;
}
.div_intencoes textarea{
    width: 98%;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.div_rodapeOracoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #ccc;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 0px 0px 15px 15px;
}
.botao_padrao{
	text-decoration:none;
	display:flex;
	width:120px;
	height:30px;
	margin: 5px;
	padding: 5px;
    background-color: var(--corfontemenuheader);
	border-radius:10px;
	color:#000;
	font-family:Arial bold;
	font-size:20px;
	cursor:pointer;
	border:0px;
	text-transform: uppercase;
	outline:none;
	justify-content:center;
	align-items:center;
}
.botao_padrao:hover{
	background-color:#c22;
	color:#fff;
}

.div_Publicacoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.div_tituloDemaisPublicacoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.div_demaisPublicacoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.article_doacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.article_doacoes img{
    min-width: 150px;
    margin: 50px;
}

.article_acoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.article_acoes img{
    min-width: 200px;
    margin: 50px;
}

.div_patrocinio{
    width: 15%;
    padding: 20px;
    border-radius: 25px;
    color: #fff;
    background-color: red;
    position: relative;
    animation-name: patrocinio;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
@keyframes patrocinio {
    0%   {background-color:red; left:0px; top:0px;}
    10%  {background-color:yellow; left:20%; top:0px;}
    20%  {background-color:blue; left:40%; top:0px;}
    30%  {background-color:green; left:60%; top:0px;}
    40% {background-color:red; left:80%; top:0px;}
    50%  {background-color:black; left:85%; top:0px;}
    60%  {background-color:green; left:80%; top:0px;}
    70%  {background-color:blue; left:60%; top:0px;}
    80%  {background-color:green; left:40%; top:0px;}
    90%  {background-color:yellow; left:20%; top:0px;}
    100%  {background-color:red; left:0%; top:0px;}
  }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
	background:#222;
	padding:10px 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0px;
}

/* INICIO PAGINA DE LOGIN */
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 71vh;
}

.div_tituloFormularioLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--titulorodapeFormGrid);
    margin-top: 80px;
}
.div_tituloFormularioLogin h1,h2{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
}

.div_formularioLogin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid var(--titulorodapeFormGrid);
}
.div_formularioLogin form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_campoForm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 25px;
    padding: 5px;
}
.div_campoForm label,input,select,textarea{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
}

.div_campoForm2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 2px;
}
.div_campoForm2 input{
    cursor: pointer;
}

.div_rodapeFormularioLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--titulorodapeFormGrid);
    width: 400px;
    padding: 10px;
    margin-bottom: 80px;
}
.div_rodapeFormularioLogin button a{
    text-decoration: none;
    color: #000;
}
.div_rodapeFormularioLogin button a:hover{
	background-color:#c22;
	color:#fff;
}
/* FIM PAGINA DE LOGIN */

/* INICIO PAGINA DE ADMINISTRAÇÃO */
.div_tituloAdministracao{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #eee;
    padding: 5px;
}
.div_tituloAdministracao img{
    width: 30px;
    margin-left: 10px;
    margin-right: 5px;
}
.div_menuCadastroAdministracao img{
    width: 100%;
    cursor: pointer;    
}
.div_menuCadastroAdministracao button{
    cursor: pointer;
}

.div_filtro{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 30%;
}
.div_filtro label{
    width: 200px;
    font-size: 20px;
}
.div_filtro img{
    cursor: pointer;
    width: 15%;
}

.div_framePrincipal{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #ddd;
    width: 100%;
}

.div_frame{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* INICIO PAGINA DE ADMINISTRAÇÃO */
.div_menuLateral{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    padding: 30px;
    border-radius: 0px 15px 15px 0px;
    background-color: #ccc;
    font-size: 20px;
    color: #000;
}

.div_menuLateral a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #000;
}
.div_menuLateral a:hover{
    color: #008;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
}

.div_menuLateral h3{
    margin-bottom: 10px;
}
.div_menuLateral summary{
    font-weight: bold;
}
.div_menuLateral a{
    margin-left: 35px;
}

.div_listaMenuLateral{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 15px;
}
.div_listaMenuLateral a{
    padding-bottom: 5px;
    font-size: 20px;
}

.div_menuLateralAdministracao{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 200px;
    height: 65vh;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    background-color: #ccc;
    font-size: 20px;
    color: #000;
}
.div_menuLateralAdministracao a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #000;
}
.div_menuLateralAdministracao a:hover{
    color: #008;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
}

.div_menuLateralAdministracao h3{
    margin-bottom: 10px;
}

.div_mensagemAdministracao{
    font-size: 3em;
    color: white;
    text-shadow: var(--cortexto);
}

.div_fundoGradiente{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border-radius: 25px;
    background-image: radial-gradient(circle, var(--corfundo), rgba(0, 0, 0, 0.15), var(--corfundo),var(--titulorodapeFormGrid), var(--corfundo));
}
.div_fundoGradiente h4{
    font-size: 3em;
    color: orange;
    text-shadow: var(--cortexto);

}
/* FIM PAGINA DE ADMINISTRAÇÃO */

/* INICIO DA PAGINA SOBRE */
.div_tituloBibliografia{
    padding: 10px;
    background-color: var(--titulorodapeFormGrid);
    color: #fff;
    border-radius: 20px 20px 0px 0px;
}
.div_tituloBibliografia h1{
    padding: 5px;
    font-size: 2em;
}

.div_corpoBografia{
    display: flex;
    justify-content: space-between;
    padding: 20px ;

    border: 1px solid var(--titulorodapeFormGrid);
}
.div_foto img{
    padding: 10px;
    border-radius: 100%;
}

.div_detailsBiografia{
    margin-bottom: 10px;
}

.div_dadosPessoais{
    margin-left: 400px;
}
.div_dadosPessoais h2{
    margin: 10px;
}

.div_rodapeBibliografia{
    padding: 10px;
    background-color: var(--titulorodapeFormGrid);
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}
/* FIM DA PAGINA SOBRE */

/* INICIO DA PAGINA CONTATOS */
.sessao_contatos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 71vh;
    padding: 10px;
}

.div_formularioEmail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div_tituloFormularioEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--titulorodapeFormGrid);
}
.div_tituloFormularioEmail h1,h2{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
}

.div_corpoFormularioEmail form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 360px;
    border: 1px solid var(--titulorodapeFormGrid);
}

.div_campoFormulario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}
.div_campoFormulario label,input,textarea{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
.div_campoFormulario input,textarea{
    background-color: #eee;
    padding: 10px;
}

.div_rodapeFormularioEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--titulorodapeFormGrid);
    width: 400px;
    padding: 12px;
}
.div_rodapeFormularioEmail button a{
    text-decoration: none;
    color: #000;
}
.div_rodapeFormularioEmail button a:hover{
	background-color:#c22;
	color:#fff;
}

.div_redesSocial{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.div_campoRedeSocial{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.div_campoRedeSocial img{
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.div_amarelo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    width: 800px;
    height: 50vh;
}

.div_vermelho{
    background-color: red;
    width: 200px;
    height: 20vh;
}
.div_verde{
    background-color: green;
    width: 200px;
    height: 20vh;
}
.div_azul{
    background-color: blue;
    width: 200px;
    height: 20vh; 
}

.testeDiv{
    background-color: blue;
}