<body>
    <%- include('cabecalho') %>

    <main class="main_administracao">
        <div class="div_tituloAdministracao">
            <div></div>
            <div>
                <a href="login.html" target="_self"><img src="/imagens/icons/logout.svg" alt="" title="Efetuar Logof"></a>
                <a href="pagina_em_desenvolvimento.html" target="_self"><img src="/imagens/icons/settings.svg" alt="" title="Configurações"></a>
            </div>
        </div>
        <div class="div_framePrincipal">
            <div class="div_frame">
                <!-- <iframe src="" frameborder="0"></iframe> -->
                <div class="div_menuLateral">
                    <details>
                        <summary>Administração</summary>
                        <div class="div_listaMenuLateral">
                            <a href="#" target="_self">Clero</a>
                            <a href="#" target="_self">Paróquia</a>
                            <a href="#" target="_self">Setores</a>
                            <a href="#" target="_self">Comunidades</a>
                            <a href="#" target="_self">Cronogramas</a>
                            <a href="#" target="_self">Horários</a>
                        </div>
                    </details>
                    <details>
                        <summary>Pessoas</summary>
                        <div class="div_listaMenuLateral">
                            <a href="#" target="_self">Fieis</a>
                            <a href="/usuarios" target="_self">Usuários</a>
                        </div>
                    </details>
                    <details>
                        <summary>Pastorais</summary>
                        <div class="div_listaMenuLateral">
                            <a href="#" target="_self">Dízimo</a>
                            <a href="#" target="_self">Familia</a>
                            <a href="#" target="_self">Batismo</a>
                            <a href="#" target="_self">Criança</a>
                            <a href="#" target="_self">Idoso</a>
                        </div>
                    </details>
                    <details>
                        <summary>Movimentos</summary>
                        <div class="div_listaMenuLateral">
                            <a href="#" target="_self">Encontro JC</a>
                            <a href="#" target="_self">Mães Que Oram</a>
                            <a href="#" target="_self">Terço dos H.</a>
                            <a href="#" target="_self">Cirulos Bíblico</a>
                            <a href="#" target="_self">Renovação Car</a>
                        </div>
                    </details>
                    <details>
                        <summary>Serviços</summary>
                        <div class="div_listaMenuLateral">
                            <a href="#" target="_self">Encontro CC</a>
                            <a href="#" target="_self">AA</a>
                        </div>
                    </details>
                    <details>
                        <summary>Notícias</summary>
                        <div class="div_listaMenuLateral">
                            <a href="publicacoes" target="_self">Publicações</a>
                            <a href="#" target="_self">Eventos</a>
                            <a href="#" target="_self">Campanhas</a>
                            <a href="#" target="_self">Movimentos</a>
                            <a href="#" target="_self">Patrocinios</a>
                        </div>
    
                    </details>
                    <details>
                        <summary>Relatórios</summary>
                        <div class="div_listaMenuLateral">
                            <a href="#" target="_self">Organograma</a>
                            <a href="#" target="_self">Fiéis</a>
                            <a href="#" target="_self">Casais</a>
                            <a href="#" target="_self">Movimentos</a>
                            <a href="#" target="_self">Patrocinios</a>
                        </div>
                    </details>
                </div>
                <div class="div_mensagemAdministracao">
                    <h1>Área Principal de Administração</h1>
                </div>
            </div>
        </div>
    </main>
    <%- include('rodape') %>
</body>
</html>