<body>
    <%- include('cabecalho') %>

    <main>
        <section class="sessao_contatos">
            <div class="div_formularioEmail">
                <!-- FALE CONOSCO -->
                <div id="div_tituloFormularioEmail" class="div_tituloFormularioEmail">
                        <h2>ENVIE SEU E-MAIL</h2>
                </div>
                <div id="div_corpoFormularioEmail" class="div_corpoFormularioEmail">
                    <form action="">
                        <div class="div_campoFormulario">
                            <label for="f_nome">Nome</label>
                            <input type="text" id="f_nome" name="f_nome">
                        </div>
                        <div class="div_campoFormulario">
                            <label for="f_email">E-mail</label>
                            <input type="text" id="f_email" name="f_email">
                        </div>
                        <div class="div_campoFormulario">
                            <label for="f_mensagem">Mensagem - Até 255 Caracter</label>
                            <textarea name="f_mensagem" id="f_mensagem"></textarea>
                            <label id="label_restanteCaracter">Restam 255 Caracteres</label>
                        </div>

                    </form>
                </div>
                <div id="div_rodapeFormularioEmail" class="div_rodapeFormularioEmail">
                    <button class="botao_padrao">Enviar</button>
                    <button class="botao_padrao">Limpar</button>
                </div>
            </div>

            <div class="div_formularioEmail">
                <div class="div_foneZap">
                    <h2>Fone / Zap: +55 (85) 98869-7308</h2>

                    <div>
                        <h2>Redes Social</h2>
                    </div>
                </div>
    
                <div>
                    <div class="div_redesSocial">
                        <div class="div_campoRedeSocial">
                            <img src="imagens/imagens/instagram.jpeg" alt="">
                        </div>
                        <div class="div_campoRedeSocial">
                            <img src="imagens/imagens/facebook.jpeg" alt="">
                        </div>
                        <div class="div_campoRedeSocial">
                            <img src="imagens/imagens/telegram.jpeg" alt="">
                        </div>
                        <div class="div_campoRedeSocial">
                            <img src="imagens/imagens/twitter.jpeg" alt="">
                        </div>
                        <div class="div_campoRedeSocial">
                            <img src="imagens/imagens/youtube.jpeg" alt="">
                        </div>
                    </div>
                </div>
    

            </div>


        </section>

    </main>
    <%- include('rodape') %>
</body>
</html>