<body>
    <%- include('cabecalho') %>

    <main class="main_administracao">
        <div class="div_tituloAdministracao">
            <div class="div_menuCadastroAdministracao">
                <button><img src="/imagens/icons/menu.svg" alt=""></button>
            </div>
            <div>
                <a href="login.html" target="_self"><img src="/imagens/icons/logout.svg" alt="" title="Efetuar Logof"></a>
                <a href="pagina_em_desenvolvimento.html" target="_self"><img src="/imagens/icons/settings.svg" alt="" title="Configurações"></a>
                    
            </div>
        </div>
        <div class="div_framePrincipal">
            <!-- <div class="div_menuLateralAdministracao">
                <a href="administracao.html" target="_self">Administração</a>
                <a href="cadastro_usuarios.html" target="_self">Usuários</a>
                <a href="cadastro_pubicacoes.html" target="_self">Publicações</a>
            </div> -->
            <div class="div_frame">
                <!-- <iframe src="" frameborder="0"></iframe> -->
                <div class="div_fundoGradiente">
                    <h4>Desculpe!</h4>
                    <h4>No Momento está Página</h4>
                    <h4>Está em Manutenção.</h4>
                    <h4>Em Breve, Voltará a Funcionar.</h4>
                    <h4>Por Favor, Click no Menu Lateral.</h4>

                    <!-- <img src="imagens\msgpgemdesenvolvimento.png"/> -->
                </div>

            </div>
        </div>
    </main>
    <%- include('rodape') %>
</body>
</html>

