<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .maior{
            color: green;
        }
        .menor{
            color: red;
        }
    </style>
</head>
<body>
    <%- include('cabecalho') %>

    <section class="sessao_ImagemFundo">
        <div class="menuPrincipalLateral">
            <img src="imagens/icons/menu.svg" alt="rd_menu">
            <input type="radio" name="rd_menu" id="rd_menu">
            <div class="div_nav">
                <nav>
                    <ul>
                        <li><a href="index.html"> HOME </a></li>
                        <li><a href="pagina_em_desenvolvimento.html"> A PARÔQUIA </a></li>
                        <li><a href="publicacoes.html"> NOTÍCIAS </a></li>
                        <li><a href="pagina_em_desenvolvimento.html"> PASTORAIS </a></li>
                        <li><a href="pagina_em_desenvolvimento.html"> MOVIMENTOS </a></li>
                        <li><a href="secretaria.html"> SECRETARIA </a></li>
                        <li><a href="contatos.html"> CONTATOS </a></li>
                        <li><a href="sobre.html"> SOBRE </a></li>
                    </ul>
                </nav>
            </div>
        </div>
            <!-- IMAGEM DE FUNDO ANEXADA NO ARQUIVO DE ESTILOS.CSS -->
    </section>

    <section class="sessao_noticias">
        <div class="div_tituloNoticias">ULTIMAS NOTÍCIAS</div>
        
        <div class="article_noticias">
            <article class="div_noticia">
                <div id="div_fotoNoticia1" class="div_fotonoticia">
                    <a href="publicacoes.html"> <img src="fotos/domingosramos.png" alt="" title="Domingo de Ramos 2024"> </a>
                </div>
                <p id="noticia1">Domingo de Ramos 2024</p>
            </article> 
            <article class="div_noticia">
                <div id="div_fotoNoticia2" class="div_fotonoticia">
                    <a href="publicacoes.html"> <img src="fotos/missalavapes.png" alt="" title="Missa de Lava=Pés"> </a>
                </div> 
                <p id="noticia2">Missa de Lava-Pés</p>
            </article> 
            <article class="div_noticia">
                <div id="div_fotoNoticia3" class="div_fotonoticia">
                    <a href="publicacoes.html"> <img src="fotos/paixaodecristo.png" alt="" title="Paixão de Nosso Senhor Jesus Cristo"> </a>
                </div> 
                <p id="noticia3">Paixão de Nosso Senhor Jesus Cristo</p>
            </article> 
            <article class="div_noticia">
                <div id="div_fotoNoticia4" class="div_fotonoticia">
                    <a href="publicacoes.html"> <img src="fotos/missadaluz.png" alt="" title="Missa da Luz (Sábado de Aleluia)"> </a>
                </div> 
                <p id="noticia4">Missa da Luz (Sábado de Aleluia)</p>
            </article> 

        </div>
        <div class="div_rodapeNoticias">
            <img src="imagens/icons/left.svg" alt="">
            <a href="noticias">Mais Notícias</a>
            <img src="imagens/icons/right.svg" alt="">
        </div>
    </section>

    <section id="sessao_oracoes" class="sessao_oracoes">
        <div class="div_tituloPedidosOracoes">
            <p>PEDIDOS DE ORAÇÃO</p>
        </div>

        <div class="article_oracoes">
            <article class="div_contatoOracoes">
                <label>
                    <span>Contato: Zap ou E-mail</span>
                    <input type="text" name="nome">
                </label>
            </article>
            <article class="div_intencoes">
                <span>Intenções - Até 255 letras</span>
                <textarea name="intencoes"  cols="50" rows="5"></textarea>
            </article>

        </div>
        <div class="div_rodapeOracoes">
            <button class="botao_padrao">Enviar</button>
            <button class="botao_padrao">Limpar</button>
        </div>
    </section>    

    <section class="sessao_demaisPublicacoes">
        <div class="div_Publicacoes">
            <div class="div_tituloDemaisPublicacoes">
                <p>AJUDE-NOS</p>
            </div>
            <div class="div_tituloDemaisPublicacoes">
                <p>DEMAIS PUBLICAÇÕES</p>
            </div>
        </div>
        <div class="div_demaisPublicacoes">
            <article class="article_doacoes">
                <img id="dizimo" src="imagens\dizimo.png">
                <img id="doe" src="imagens\doacao.png">
            <!-- </article> -->

            <!-- <article class="article_acoes"> -->
                <img id="acaosocial" src="imagens\acaosocial.png">
                <img id="eventos" src="imagens\eventos.png">
            </article>
        </div>
    </section>
    <section class="sessao_patrocinadores">
        <div class="div_patrocinio  displyFlexSpaceBetweenRow">
            <h3>Patrocinador 1</h3>

        </div>
    </section>


    <!-- <link rel="stylesheet" type="text/css" href="/css/estilos.css"/>

    <section class="sessao1">
        <form action="/idade" method="post">
            <div>
                <label>
                    <span>Nome</span>
                    <input name="nome" />
                </label>
                <label>
                    <span>Ano</span>
                    <input name="ano" type="number" />
                </label>
                <label>
                    <span>Doação</span>
                    <input name="doacao" type="number" />
                </label>
                <button>Enviar</button>
            </div>
        </form>
        
    </section>
    
    
    <section>
        <form id="form1" onsubmit="event.preventDefault();inserir(nome,ano);">
            <label>
                <span>Nome</span>
                <input id='nome' name="nome" />
            </label>
            <label>
                <span>Ano</span>
                <input id='ano' name="ano" type="number" />
            </label>
            <button>Gravar</button>
        </form>
    
        <section id="pessoas">

        </section>
    </section>
    <%- include('rodape') %>

    <script>
        editar=0
        nomeAnterior=''
        function mostrarLista(){
            let mostrarpessoas = document.querySelector('#pessoas');
            mostrarpessoas.innerHTML='';
            pessoas.map((elemento)=>{
                let nome = elemento[0];
                let ano = parseInt(elemento[1]);
                let idade = 2025 - ano;

                let article = document.createElement("article");

                let h1 = document.createElement("h1");
                h1.innerText = nome;
                article.appendChild(h1);

                let spanAno = document.createElement("span");
                spanAno.setAttribute('id','spanAno');
                spanAno.innerText = 'Ano: ' + ano + " - ";
                article.appendChild(spanAno);

                let spanIdade = document.createElement("span");
                spanIdade.innerText = 'Idade: ' + idade + " - ";
                article.appendChild(spanIdade);

                let botaoAlterar = document.createElement("button");
                botaoAlterar.innerText = 'Alterar';
                botaoAlterar.onclick = (event) => {alteraRegistro(botaoAlterar)};
                article.appendChild(botaoAlterar);

                let botaoExcluir = document.createElement("button");
                botaoExcluir.innerText = 'Excluir';
                botaoExcluir.onclick = (event) => {excluiRegistro(botaoExcluir)};
                article.appendChild(botaoExcluir);

                mostrarpessoas.appendChild(article);

                if (idade >= 18){
                    article.classList.add('maior');
                }
                else {
                    article.classList.add('menor');
                }
            });
        }

        let pessoas = [];

        function inserir() {
            let nome = form1.nome.value;
            let ano = parseInt(form1.ano.value);
            if (editar==0){
                pessoas.push([nome,ano]);
            }else{
                pessoas.map((e)=>{
                    if(nomeAnterior==e[0]){
                        e[0] = form1.nome.value  
                        e[1] = form1.ano.value 
                        editar=0
                    }
                })
            }
            form1.nome.value = ''
            form1.ano.value = ''
            mostrarLista();
        }

        async function listar() {
            return pessoas;
        }

        function alteraRegistro(button){
            let article = button.parentNode;
            let nome = article.querySelector('h1').innerText;
            pessoas.map((e)=>{
                if(nome==e[0]){
                    form1.nome.value = e[0]
                    form1.ano.value = e[1]
                    editar = 1
                    nomeAnterior = e[0]
                    console.log('Botao Alterar - Nome Anterior: ' + nomeAnterior)
                }
            })
        }

        function excluiRegistro(button){
            console.log("Teste Exclui Registro")
            let article = button.parentNode;
            let nome = article.querySelector('h1').innerText;
            pessoas.map((e, indice)=>{
                console.log(e)
                if (nome==e[0]){
                    console.log(e[0])
                    pessoas.splice(indice, 1);
                }
            })
            mostrarLista();
        }


    </script> -->
</body>
</html>

<!-- <form action="/idade" method="post"> -->
    <!-- <label>
        <span>Nome</span>
        <input name="nome" />
    </label>
    <label>
        <span>Doação</span>
        <input name="doacao" type="number" />
    </label> -->

<!-- <%
for (let i = 0; i < 10; i++) {
    if (i == 5) {
        continue;
    }
_%>
    <label>
        <span>Nome <%= i %></span>
        <input name="nome<%= i %>" />
    </label>
<%
}
_%> -->

    <!-- <button>Enviar</button>
</form> -->
<!-- <div class="div_tituloFormularioLogin">
    <h1>FAÇA SEU LOGIN</h1>
    <button id="botao_login" class="botao_padrao"><a href="/login">Login</a></button>
</div> -->
<!-- <div class="div_formularioLogin">
    <form action="/login" method="post">
         <div class="div_campoForm">
            <label for="f_username">Usuário</label>
            <input type="text" name="f_username" id="f_username" value="">
        </div>
        <div class="div_campoForm">
            <label for="f_senha">Senha</label>
            <input type="password" name="f_senha" id="f_senha" value="">
        </div>
        <button>Logar</button>
    </form>
</div>
<div class="div_rodapeFormularioLogin">
    <button id="botao_limpar" class="botao_padrao">Limpar</button>
</div> -->
