<body>
    <%- include('cabecalho') %>

    <main>
        <h1>Publicações</h1>
        <article  class="article_publicacao">
            <!-- <div class="div_imagemBanner">
                <label id="label_chamadaMensagem" for="">Festa da Miséricórdia</label>
                
                <a href="#"><img src="fotos/domingodamisericordia.png"></a>
            </div> -->
            <div class="div_textoPrincipal">
                <a href="#"><img src="fotos/domingodamisericordia.png"></a>
                <p>
                    A festa da Divina Misericórdia foi instituída no ano de 2000 pelo Papa João II para toda a Igreja. <br>
                    Esta decisão foi publicada por meio de um decreto da congregação do Culto Divino e a Disciplina dos Sacramentos. <br>
                    A partir do mês de maio do mesmo ano, o segundo domingo da Páscoa passaria a ser “Domingo da Divina Misericórdia”.
                    Esta festa era um desejo do próprio Jesus, que fora revelado para Santa Faustina. <br>
                    Ela deixou cada uma destas revelações registradas em seu diário, que hoje, podemos ter acesso, pois foram registradas todas em apenas um exemplar com aproximadamente 1828 numerais. <br><br>
                    Em Paracuru, termos um Domingo voltado a Devoção da Divina Miseriódia <br>
                    A Programação será iniciada com a Missa Dominical as 8hrs. <br>
                    As 15hrs Inicia o Terço da Misericordia, e logo após os testemunhos. Tudo com muito Louvor. <br>
                    Venha você também participar deste momento.
                </p>
            </div>
        </article>
    </main>
    <%- include('rodape') %>
</body>
</html>