<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Parôquia Nsa. Remédios</title>        
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"/>
</head>
<body>
    <footer>
        <h4>Todos Os Direitos Reservados: Claudio Tadeu Severino - Trabalho de Desenvolvimento HTML - IFCE - Curso de Informática Para Web - Disciplina: Desenvolvimento WEB II - Unidade 6</h4>
    </footer>
</body>
</html>