<body>
    <%- include('cabecalho') %>

    <main>
        <!--Breve Biografia-->
        <section id= "biografia" class="biografia">
            <div class="div_tituloBibliografia displyFlexSpaceBetweenRow">
                <h1>BIOGRAFIA</h1>
            </div>
            <div class="div_corpoBografia">
                <div>
                    <div class="div_detailsBiografia">
                        <details>
                            <summary>DADOS PESSOAIS</summary>
                            <div class="div_dadosPessoais">
                                <h2>AUTOR</h2>
                                <h1>CLAUDIO TADEU SEVERINO</h1>
                                <div class="div_dadosPessais">
                                    <div><h2>DADOS PESSOAIS</h2></div>
                                    <div class="displyFlexSpaceBetweenRow">
                                        <h3>51 Anos - Nascido em São Paulo - Capital </h3>
                                        <h3>Residente de Paracuru desde 2017 </h3>
                                    </div>
                                </div>
                            </div>
                        </details>
                        <details>
                            <summary>FORMAÇÃO</summary>
                            <div class="div_dadosPessoais">
                                <div class="div_dadosPessais">
                                    <div><h2>FORMAÇÃO ACADÊMICA</h2></div>
                                    <h3>Cursou Primeiro Grau em São Paulo Capital - Escola Pública</h3>
                                    <h3>Cursou Segundo Grau em Caieiras - SP - Escola Pública</h3>
                                    <h3>Cursou Analise, Projeto e Desenvolvimento de Sofwares - FIC - Fortaleza - Ce</h3>
                                    <h3>Cursa Informática Para Web - IFCE - Paracuru - Ce</h3>
                                </div>
                            </div>
                        </details>
                        <details>
                            <summary>CURSOS TÉCNICOS</summary>
                            <div class="div_dadosPessoais">
                                <div class="div_dadosPessais">
                                    <div><h2>CURSOS TÉCNICOS</h2></div>
                                    <h3>Informatica Basica - DOS - WINDOWS - WORD - EXCEL - POWER POINT e ACCESS em  Franco da Rocha - SP</h3>
                                    <h3>Corel Draw em Franco da Rocha - SP</h3>
                                    <h3>Montagem e Manutenção de Computadores em Franco da Rocha - SP</h3>
                                    <h3>Auxiliar Administrativo - Franco da Rocha - SP</h3>
                                    <h3>Redes de Computadores - Senac - Fortaleza - Ce</h3>
                                    <h3>Programação Delphi - Básico, Intermediário e Avançado - Fortaleza - Ce</h3>
                                    <h3>SQL-Server - Fortaleza - Ce</h3>
                                    <h3>Oracle - Basico e Intermediário - Fortaleza - Ce</h3>
                                    <h3>Empreendedorismo - Senac - Fortaleza - Ce</h3>
                                    <h3>PhotoShop- EAD - CFB Cursos</h3>
                                    <h3>HTML5- EAD - CFB Cursos</h3>
                                    <h3>CSS - EAD - CFB Cursos</h3>
                                    <h3>PHP - EAD - CFB Cursos</h3>
                                    <h3>JavaScript EAD - CFB Cursos</h3>
                                    <h3>Typescript - EAD - CFB Cursos</h3>
                                    <h3>React Next - EAD - CFB Cursos</h3>
                                    <h3>Node Red - EAD - CFB Cursos</h3>
                                    <h3>NodeJs - EAD - CFB Cursos</h3>
                                    <h3>Git / Git Hub - EAD - Curso em Vídeo</h3>
                                </div>
                            </div>
                        </details>
                        <details>
                            <summary>ATUAÇÃO PROFISSIONAL</summary>
                            <div class="div_dadosPessoais">
                                <div class="div_dadosPessais">
                                    <div><h2>ATUAÇÃO PROFISSIONAL</h2></div>
                                    <h3>Desenvolvedor de Sistemas - Free-Lancer</h3>
                                    <h3>DPO - Encarregado de Dados - Controladoria - Prefeitura de Paracuru</h3>
                                    <h3>Manutenção do Site da Prefeitura - Portal da Transparência</h3>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div>
                    <div class="div_foto">
                        <img src="fotos/Claudio3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="div_rodapeBibliografia displyFlexSpaceBetweenRow">
                <h1>- ÚLTIMA ATUALIZAÇÃO EM JANEIRO DE 2025 -</h1>
            </div>

        </section>
    </main>
    <%- include('rodape') %>
</body>
</html>